<html>
<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<p>
    <img src="/images/shopping-icon.jpg" />
</p>

<p>
    <a href="/logout">Logout</a>
</p>

<h1>Add Item To List</h1>

<form action="/add-grocery-item" method="post">
    <p>
        <input type="text" name="itemName" value="" placeholder="Grocery Item">
    </p>
    <p>
        <input type="text" name="itemQuantity" value="" placeholder="Quantity of Item">
    </p>
    <button type="submit">Add</button>
</form>

<table>
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>&nbsp;</th>
    </tr>
    {{^groceryList}}
        No groceries!
    {{/groceryList}}
    {{#groceryList}}
        <tr>
            <td>{{itemName}}</td>
            <td>{{itemQuantity}}</td>
            <td>
                <a href="/edit-grocery-item?id={{id}}">Edit</a>
                <a href="/delete-grocery-item?id={{id}}">Delete</a>
            </td>
        </tr>
    {{/groceryList}}
</table>
</body>
</html>