<html>
<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<img src="/images/shopping-icon.jpg" />

<h2>Edit Item</h2>

<form action="/edit-grocery-item" method="post">
    <p>
        <input type="text" name="itemName" value="{{item.itemName}}" placeholder="Grocery Item">
    </p>
    <p>
        <input type="text" name="itemQuantity" value="{{item.itemQuantity}}" placeholder="Quantity of Item">
    </p>
    <p>
        <input type="hidden" name="id" value="{{item.id}}">
    </p>
    <button type="submit">Save</button>
</form>

</body>
</html>