<html>
<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<img src="/images/shopping-icon.jpg" />

<h1>Login to manage your grocery list!</h1>

<form action="/login" method="post">
    <p>
        <input type="text" name="username" value="" placeholder="Username">
    </p>
    <p>
        <input type="password" name="password" value="" placeholder="Password">
    </p>
    <button type="submit">Submit</button>
</form>
</body>
</html>